{% extends "base.jinja" %}

{% block heading %}
    Dashboard
{% endblock %}

{% block content %}
    <form method="POST">
        {% if photon_active %}
        <button type="submit" name="newJob" value="photon_full">Geocode all points</button>
        <button type="submit" name="newJob" value="photon_fill">Geocode new points</button>
        {% endif %}
        <button type="submit" name="newJob" value="full_stats">Generate Statistics</button>
    </form>
    <br>
    <h2>Jobs</h2>
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Job Name</th>
                <th>Running</th>
                <th>Progress</th>
                <th>Time Elapsed</th>
                <th>Time Remaining</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job[1] }}</td>
                    <td>{{ job[2] }}</td>
                    <td>{{ job[3]|round(2) }}%</td>
                    <td>{{ job[4] }}s</td>
                    <td>{{ job[5] }}s</td>
                    <td>
                        <form method="POST" style="display:inline;">
                            <input type="hidden" name="cancelJob" value="{{ job[0] }}">
                            <button type="submit">Cancel</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button id="toggle-refresh">Disable Auto Refresh</button>
    
    <script>
    let refreshEnabled = true;
    document.getElementById("toggle-refresh").addEventListener("click", function() {
        refreshEnabled = !refreshEnabled;
        this.textContent = refreshEnabled ? "Disable Auto Refresh" : "Enable Auto Refresh";
    });

    function autoRefresh() {
        if (refreshEnabled) {
            window.location.reload();
        }
    }
    setInterval(autoRefresh, 5000);
    </script>
{% endblock %}
