{% extends "base.jinja" %}

{% block heading %}
    Dashboard
{% endblock %}

{% block content %}
    {{ jobs }}

    <script>
    setTimeout(function(){
       window.location.reload(1);
    }, 5000);
    </script>
{% endblock %}
