{% extends "base.jinja" %}

{% block heading %}
    Manage Users
{% endblock %}

{% block content %}
    <h2>User List</h2>
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Is Admin?</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ 'Yes' if user.is_admin else 'No' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
